
.w-25 { width: 25% !important; }

.w-50 { width: 50% !important; }

.w-75 { width: 75% !important; }

.w-100 { width: 100% !important; }

.h-25 { height: 25% !important; }

.h-50 { height: 50% !important; }

.h-75 { height: 75% !important; }

.h-100 { height: 100% !important; }

.mw-100 { max-width: 100% !important; }

.mh-100 { max-height: 100% !important; }

.m-0 { margin: 0 0 !important; }

.mt-0 { margin-top: 0 !important; }

.mr-0 { margin-right: 0 !important; }

.mb-0 { margin-bottom: 0 !important; }

.ml-0 { margin-left: 0 !important; }

.mx-0 { margin-right: 0 !important; margin-left: 0 !important; }

.my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }

.m-1 { margin: 0.25rem 0.25rem !important; }

.mt-1 { margin-top: 0.25rem !important; }

.mr-1 { margin-right: 0.25rem !important; }

.mb-1 { margin-bottom: 0.25rem !important; }

.ml-1 { margin-left: 0.25rem !important; }

.mx-1 { margin-right: 0.25rem !important; margin-left: 0.25rem !important; }

.my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }

.m-2 { margin: 0.5rem 0.5rem !important; }

.mt-2 { margin-top: 0.5rem !important; }

.mr-2 { margin-right: 0.5rem !important; }

.mb-2 { margin-bottom: 0.5rem !important; }

.ml-2 { margin-left: 0.5rem !important; }

.mx-2 { margin-right: 0.5rem !important; margin-left: 0.5rem !important; }

.my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }

.m-3 { margin: 1rem 1rem !important; }

.mt-3 { margin-top: 1rem !important; }

.mr-3 { margin-right: 1rem !important; }

.mb-3 { margin-bottom: 1rem !important; }

.ml-3 { margin-left: 1rem !important; }

.mx-3 { margin-right: 1rem !important; margin-left: 1rem !important; }

.my-3 { margin-top: 1rem !important; margin-bottom: 1rem !important; }

.m-4 { margin: 1.5rem 1.5rem !important; }

.mt-4 { margin-top: 1.5rem !important; }

.mr-4 { margin-right: 1.5rem !important; }

.mb-4 { margin-bottom: 1.5rem !important; }

.ml-4 { margin-left: 1.5rem !important; }

.mx-4 { margin-right: 1.5rem !important; margin-left: 1.5rem !important; }

.my-4 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }

.m-5 { margin: 3rem 3rem !important; }

.mt-5 { margin-top: 3rem !important; }

.mr-5 { margin-right: 3rem !important; }

.mb-5 { margin-bottom: 3rem !important; }

.ml-5 { margin-left: 3rem !important; }

.mx-5 { margin-right: 3rem !important; margin-left: 3rem !important; }

.my-5 { margin-top: 3rem !important; margin-bottom: 3rem !important; }

.p-0 { padding: 0 0 !important; }

.pt-0 { padding-top: 0 !important; }

.pr-0 { padding-right: 0 !important; }

.pb-0 { padding-bottom: 0 !important; }

.pl-0 { padding-left: 0 !important; }

.px-0 { padding-right: 0 !important; padding-left: 0 !important; }

.py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.p-1 { padding: 0.25rem 0.25rem !important; }

.pt-1 { padding-top: 0.25rem !important; }

.pr-1 { padding-right: 0.25rem !important; }

.pb-1 { padding-bottom: 0.25rem !important; }

.pl-1 { padding-left: 0.25rem !important; }

.px-1 { padding-right: 0.25rem !important; padding-left: 0.25rem !important; }

.py-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }

.p-2 { padding: 0.5rem 0.5rem !important; }

.pt-2 { padding-top: 0.5rem !important; }

.pr-2 { padding-right: 0.5rem !important; }

.pb-2 { padding-bottom: 0.5rem !important; }

.pl-2 { padding-left: 0.5rem !important; }

.px-2 { padding-right: 0.5rem !important; padding-left: 0.5rem !important; }

.py-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }

.p-3 { padding: 1rem 1rem !important; }

.pt-3 { padding-top: 1rem !important; }

.pr-3 { padding-right: 1rem !important; }

.pb-3 { padding-bottom: 1rem !important; }

.pl-3 { padding-left: 1rem !important; }

.px-3 { padding-right: 1rem !important; padding-left: 1rem !important; }

.py-3 { padding-top: 1rem !important; padding-bottom: 1rem !important; }

.p-4 { padding: 1.5rem 1.5rem !important; }

.pt-4 { padding-top: 1.5rem !important; }

.pr-4 { padding-right: 1.5rem !important; }

.pb-4 { padding-bottom: 1.5rem !important; }

.pl-4 { padding-left: 1.5rem !important; }

.px-4 { padding-right: 1.5rem !important; padding-left: 1.5rem !important; }

.py-4 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }

.p-5 { padding: 3rem 3rem !important; }

.pt-5 { padding-top: 3rem !important; }

.pr-5 { padding-right: 3rem !important; }

.pb-5 { padding-bottom: 3rem !important; }

.pl-5 { padding-left: 3rem !important; }

.px-5 { padding-right: 3rem !important; padding-left: 3rem !important; }

.py-5 { padding-top: 3rem !important; padding-bottom: 3rem !important; }

.m-auto { margin: auto !important; }

.mt-auto { margin-top: auto !important; }

.mr-auto { margin-right: auto !important; }

.mb-auto { margin-bottom: auto !important; }

.ml-auto { margin-left: auto !important; }

.mx-auto { margin-right: auto !important; margin-left: auto !important; }

.my-auto { margin-top: auto !important; margin-bottom: auto !important; }

.img-fluid { max-width: 100%; height: auto; }

.img-thumbnail { padding: 0.25rem; background-color: #fff; border: 1px solid #ddd; border-radius: 0.25rem; transition: all 0.2s ease-in-out; max-width: 100%; height: auto; }

.card { position: relative; display: flex; flex-direction: column; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; }

.card-block { flex: 1 1 auto; padding: 0.75rem; }

.card-title { margin-bottom: 0.75rem; }

.card-subtitle { margin-top: -0.375rem; margin-bottom: 0; }

.card-text:last-child { margin-bottom: 0; }

.card-link:hover { text-decoration: none; }
.card-link + .card-link { margin-left: 1.25rem; }

.card > .list-group:first-child .list-group-item:first-child { border-top-right-radius: 0.25rem; border-top-left-radius: 0.25rem; }
.card > .list-group:last-child .list-group-item:last-child { border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }

.card-header { padding: 0.75rem 1.25rem; margin-bottom: 0; background-color: #f7f7f9; border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
.card-header:first-child { border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }

.card-footer { padding: 0.75rem 1.25rem; background-color: #f7f7f9; border-top: 1px solid rgba(0, 0, 0, 0.125); }
.card-footer:last-child { border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px); }

.card-header-tabs { margin-right: -0.625rem; margin-bottom: -0.75rem; margin-left: -0.625rem; border-bottom: 0; }

.card-header-pills { margin-right: -0.625rem; margin-left: -0.625rem; }

.card-primary { background-color: #b84d45; border-color: #b84d45; }
.card-primary .card-header, .card-primary .card-footer { background-color: transparent; }

.card-success { background-color: #5cb85c; border-color: #5cb85c; }
.card-success .card-header, .card-success .card-footer { background-color: transparent; }

.card-info { background-color: #5bc0de; border-color: #5bc0de; }
.card-info .card-header, .card-info .card-footer { background-color: transparent; }

.card-warning { background-color: #f0ad4e; border-color: #f0ad4e; }
.card-warning .card-header, .card-warning .card-footer { background-color: transparent; }

.card-danger { background-color: #d9534f; border-color: #d9534f; }
.card-danger .card-header, .card-danger .card-footer { background-color: transparent; }

.card-outline-primary { background-color: transparent; border-color: #b84d45; }

.card-outline-secondary { background-color: transparent; border-color: #ccc; }

.card-outline-info { background-color: transparent; border-color: #5bc0de; }

.card-outline-success { background-color: transparent; border-color: #5cb85c; }

.card-outline-warning { background-color: transparent; border-color: #f0ad4e; }

.card-outline-danger { background-color: transparent; border-color: #d9534f; }

.card-inverse { color: rgba(255, 255, 255, 0.65); }
.card-inverse .card-header, .card-inverse .card-footer { background-color: transparent; border-color: rgba(255, 255, 255, 0.2); }
.card-inverse .card-header, .card-inverse .card-footer, .card-inverse .card-title, .card-inverse .card-blockquote { color: #fff; }
.card-inverse .card-link, .card-inverse .card-text, .card-inverse .card-subtitle, .card-inverse .card-blockquote .blockquote-footer { color: rgba(255, 255, 255, 0.65); }
.card-inverse .card-link:focus, .card-inverse .card-link:hover { color: #fff; }

.card-blockquote { padding: 0; margin-bottom: 0; border-left: 0; }

.card-img { border-radius: calc(0.25rem - 1px); }

.card-img-overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; padding: 1.25rem; }

.card-img-top { border-top-right-radius: calc(0.25rem - 1px); border-top-left-radius: calc(0.25rem - 1px); }

.card-img-bottom { border-bottom-right-radius: calc(0.25rem - 1px); border-bottom-left-radius: calc(0.25rem - 1px); }

@media (min-width: 576px) { .card-deck { display: flex; flex-flow: row wrap; }
  .card-deck .card { display: flex; flex: 1 0 0; flex-direction: column; }
  .card-deck .card:not(:first-child) { margin-left: 15px; }
  .card-deck .card:not(:last-child) { margin-right: 15px; } }
@media (min-width: 576px) { .card-group { display: flex; flex-flow: row wrap; }
  .card-group .card { flex: 1 0 0; }
  .card-group .card + .card { margin-left: 0; border-left: 0; }
  .card-group .card:first-child { border-bottom-right-radius: 0; border-top-right-radius: 0; }
  .card-group .card:first-child .card-img-top { border-top-right-radius: 0; }
  .card-group .card:first-child .card-img-bottom { border-bottom-right-radius: 0; }
  .card-group .card:last-child { border-bottom-left-radius: 0; border-top-left-radius: 0; }
  .card-group .card:last-child .card-img-top { border-top-left-radius: 0; }
  .card-group .card:last-child .card-img-bottom { border-bottom-left-radius: 0; }
  .card-group .card:not(:first-child):not(:last-child) { border-radius: 0; }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top, .card-group .card:not(:first-child):not(:last-child) .card-img-bottom { border-radius: 0; } }
@media (min-width: 576px) { .card-columns { column-count: 3; column-gap: 1.25rem; }
  .card-columns .card { display: inline-block; width: 100%; margin-bottom: 0.75rem; } }
.breadcrumb { padding: 0.75rem 1rem; margin-bottom: 1rem; list-style: none; background-color: #eceeef; border-radius: 0.25rem; }
.breadcrumb::after { display: block; content: ""; clear: both; }

.sb-preview { margin-bottom: 30px; }
.sb-preview .card { background: whitesmoke; border: 1px solid #ededed; border-bottom: 3px solid #ededed; }
.sb-preview .card .sb-preview-img { transition: all 0.2s ease-in-out; }
.sb-preview .card .sb-preview-img:hover { opacity: 0.7; }
.sb-preview .card .card-block { padding: 0.1rem 0.1rem 0; }
.sb-preview .card .card-footer { padding: 0.75rem 1.5rem 1.5rem; background: transparent; border: 0; }
.sb-preview .card .card-footer .btn { font-size: 11px; }

.sb-card { background: whitesmoke; border: 1px solid #ededed; border-bottom: 3px solid #ededed; margin-bottom: 30px; }
.sb-card .sb-img { transition: all 0.2s ease-in-out; }
.sb-card .sb-img:hover { opacity: 0.7; }
.sb-card .btn { font-size: 11px; }

.badge-new { color: black; font-size: 14px; line-height: 28px; top: -10px; right: -10px; font-family: 'Patrick Hand SC'; text-align: center !important; position: absolute; height: 32px; width: 32px; background: #FCD670; border-bottom: 2px solid #fac125; border-radius: 100%; -ms-transform: rotate(-12deg); /* IE 9 */ -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */ transform: rotate(-12deg); text-transform: none; }
